#loginB{
    background: url('https://www.camonapp.com/wp-content/uploads/2017/10/Fondo_Login.jpg')no-repeat fixed center center #333;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 0px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
body {
    background: #fff;
}
